<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id='INSTALLDIR'>
      <Component Id='CoreFiles' Guid='8BAEEC8F-694C-42d4-A5C4-FBB18F5F4C36'>
        <File Id='INCRECONFIG' Name='INCRcnfg.xml' LongName='INCREconfig.xml' DiskId='1'
          Source='../../installed/INCREconfig.xml' Vital='yes'>
        </File>
        <File Id='INCREcss' Name='INCRE.css' LongName='INCRE.css' DiskId='1'
          Source='../../installed/INCRE.css' Vital='yes'>
        </File>
        <File Id='FILTHxml' Name='FILTH.xml' LongName='FILTH.xml' DiskId='1'
          Source='../../installed/FILTH.xml' Vital='yes'>
        </File>
        <File Id='ComposeStarCore' Name='Core.jar' LongName='ComposestarCORE.jar' DiskId='1' Source='../../../Core/Compiletime/dist/ComposestarCORE.jar' Vital='yes'></File>
      </Component>
      <Directory Id ='Binaries' Name ='Binaries' />
      <Component Id='Registry' Guid ='0F390058-3D07-496a-8AA3-EF1DC4C64B13'>
        <Registry Id='RegInstallDir' Root='HKLM' Key='Software\Composestar\StarLight' Name='StarLightInstallFolder'
  Action='write' Type='string' Value='[INSTALLDIR]' />
        <Registry Id='RegMainClass' Root='HKLM' Key='Software\Composestar\StarLight' Name='JavaMainClass'
   Action='write' Type='string' Value='Composestar.DotNET.MASTER.StarLightMaster' />
        <Registry Id='RegJavaOptions' Root='HKLM' Key='Software\Composestar\StarLight' Name='JavaOptions'
   Action='write' Type='string'  />
        <Registry Id='RegJavaFolder' Root='HKLM' Key='Software\Composestar\StarLight' Name='JavaFolder'
  Action='write' Type='string' Value='[JAVALOC]\bin\' />
        <Registry Id='RegJavaClassPath' Root='HKLM' Key='Software\Composestar\StarLight' Name='JavaClassPath'
  Action='write' Type='string' Value='[INSTALLDIR]ComposestarCore.jar;[INSTALLDIR]Starlight.jar;[AntlrFolder]antlr.jar;[PrologFolder]prolog.jar;[Db4OFolder]db4o-5.7-java1.2.jar;[Db4OFolder]db4o-5.7-nqopt.jar;[Db4OFolder]bloat-1.0.jar;[GrooveFolder]groove-1_2_0.jar;[GrooveFolder]castor-0_9_5_2-xml.jar;[GrooveFolder]xerces-2_6_0-xml-apis.jar;[GrooveFolder]xerces-2_6_0-xercesImpl.jar;[GrooveFolder]jgraph.jar' />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
