<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="AntlrInst">
    <DirectoryRef Id ='Binaries'>
      <Component Id='Antlr' Guid ='DAB7BF41-1399-4090-8105-B1FAE72C7A7B'>
        <File Id='antlrjar' Name='antlr.jar' LongName='antlr.jar' DiskId='1' 
              Source='../../../Core/Compiletime/lib/Antlr/antlr.jar' Vital='yes'>
        </File>
        <File Id='antlrruntime' Name='antlrrt3.jar' LongName='antlr-runtime-3.jar' DiskId='1' 
              Source='../../../Core/Compiletime/lib/antlr/antlr-runtime-3.jar' Vital='yes'>
        </File>
      </Component>
    </DirectoryRef >
  </Fragment>
</Wix>
