<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Db4OInst">
    <DirectoryRef Id ='Binaries'>
      <Directory Id ='Db4OFolder' Name ='Db4o'>
          <Component Id='Db4o' Guid ='E8E43C41-7E72-4722-AC02-8A44953FB178'>
            <File Id='db4ojar' Name='db4o.jar' LongName='db4o-5.7-java1.2.jar' DiskId='1'
                         Source='../../libraries/db4o/db4o-5.7-java1.2.jar' Vital='yes'>
            </File>
            <File Id='db4onqoptjar' Name='db4onq.jar' LongName='db4o-5.7-nqopt.jar' DiskId='1'
                         Source='../../libraries/db4o/db4o-5.7-nqopt.jar' Vital='yes'>
            </File>
            <File Id='bloatjar' Name='bloat10.jar' LongName='bloat-1.0.jar' DiskId='1'
                         Source='../../libraries/db4o/bloat-1.0.jar' Vital='yes'>
            </File>
          </Component>
        </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
