<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="documents">
    <DirectoryRef Id ='DocumentationFolder'>
      <Component Id='ChmCoreElements' Guid ='6AAF80CD-3FD9-47fa-909F-7EE2322A6F6E'>
        <File Id='StarLightCoreElementschm' Name='chm' LongName='ComposeStarStarLight.chm' DiskId='1'
                     Source='../../documentation/ComposeStar-StarLight.chm'>
          <Shortcut Id="helpFileShortCut" Directory="ProgramMenuDir" Name="Manual"
                  LongName="StarLight Help File" />
        </File>
        <File Id='Arm' Name='arm' LongName='ARM.pdf' DiskId='1'
                     Source='../../documentation/arm.pdf'>
          <Shortcut Id="armShortCut" Directory="ProgramMenuDir" Name="ARM"
                  LongName="Annotated Reference Manual" />
        </File>
        <IniFile Id='UrlComposeStar' Action='addLine' Name='Composes.url' Directory='ProgramMenuDir'
 Section='InternetShortcut' Key='URL' LongName='ComposeStar website.url' Value='http://composestar.sf.net/' />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
