<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="GrooveInst">
    <DirectoryRef Id ='Binaries'>
      <Component Id='Groove' Guid ='29AE8350-C073-4450-972F-0F7A4DBC5302'>
        <File Id='castor0_9_5_2jar' Name='castor.jar' LongName='castor-0_9_5_2.jar' DiskId='1'
                     Source='../../../Core/Compiletime/lib/groove3/castor-0_9_5_2.jar' Vital='yes'>
        </File>
        <File Id='groove3_2_1jar' Name='groove.jar' LongName='groove-3_2_2.jar' DiskId='1'
                     Source='../../../Core/Compiletime/lib/groove3/groove-3_2_2.jar' Vital='yes'>
        </File>
        <File Id='groovegxl1_0jar' Name='groovgxl.jar' LongName='groove-gxl-1_0.jar' DiskId='1'
                    Source='../../../Core/Compiletime/lib/groove3/groove-gxl-1_0.jar' Vital='yes'>
        </File>
        <File Id='xerces2_6_0xercesImpljar' Name='xerces.jar' LongName='xerces-2_6_0-xercesImpl.jar' DiskId='1'
                    Source='../../../Core/Compiletime/lib/groove3/xerces-2_6_0-xercesImpl.jar' Vital='yes'>
        </File>
      </Component>
    </DirectoryRef >
  </Fragment>
</Wix>
