<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="LibrariesInst">
     <DirectoryRef Id ='Binaries'>
       <Component Id='Libraries' Guid ='27B1C694-C778-4dac-A60B-501555CE9DBD'>
         <File Id='log4jjar' Name='log4j.jar' LongName='log4j-1.2.14.jar' DiskId='1'
                         Source='../../../Core/Compiletime/lib/log4j/log4j-1.2.14.jar' Vital='yes'>
         </File>
       </Component>
     </DirectoryRef>
  </Fragment>
</Wix>
