<?xml version='1.0' encoding='Windows-1252'?>
<!-- 

  Setup script for ComposeStar StarLight version 0.1.0

-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?include $(var.VariablesFile)?>
  <Product Id='390B533D-4CFA-4ff3-A240-CC7BA2A49CE7' UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="1033" Manufacturer="$(var.Manufacturer)">

    <Package Id='78441E26-4E03-4d8d-80AA-865E5B06BE57' Keywords='Installer'
             Compressed="yes" Description="$(var.ProductShortName) $(var.ProductVersionText) ($(var.ProductVersion))" InstallerVersion="200" ShortNames="no" Manufacturer="$(var.Manufacturer)" 
      Comments='ComposeStar StarLight is a project of the University of Twente.' Languages='1033' />

    <Media Id='1' Cabinet='StarLight$(var.ProductVersionText).cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />

    <!-- Major upgrade -->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <!-- Properties -->
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="RUNDEVENV" Value="0" />
    <Property Id='DiskPrompt' Value="$(var.ProductShortName) $(var.ProductVersionText) Installation [1]" />
    <Property Id="VS_DIR_2005">
      <RegistrySearch Id="RegSearch_VS_2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="ProductDir" Type="raw" />
    </Property>
    <Property Id="DEVENV_DIR_2005">
      <ComponentSearch Id="CompSearch_VS2005" Guid="320DB690-7979-4015-BD78-A16D7279043B" Type="directory" />
    </Property>
    <Property Id="DEVENV_EXE_2005">
      <RegistrySearch Id="RegSearch_DevenvExe_2005" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
    <Property Id='ARPCOMMENTS'>Beta product, use at your own risk.</Property>
    <Property Id='ARPCONTACT'>University of Twente</Property>
    <Property Id='ARPHELPLINK'>http://janus.cs.utwente.nl:8000/twiki/bin/view/StarLight/WebHome</Property>
    <Property Id='ARPURLINFOABOUT'>ComposeStar StarLight offers AOP for .NET applications using the composition filters model.</Property>
    <Property Id='ARPURLUPDATEINFO'>http://janus.cs.utwente.nl:8000/twiki/bin/view/StarLight/WebHome</Property>
    <Property Id='ARPHELPTELEPHONE'>http://janus.cs.utwente.nl:8000/twiki/bin/view/StarLight/WebHome</Property>


    <!-- Launch conditions -->
    <Condition Message='This setup requires the .NET Framework 2.0 or higher.'>
      <![CDATA[MsiNetAssemblySupport >= "2.0.50727"]]>
    </Condition>
    <Condition Message="An administrator must approve or install [ProductName]."> Privileged </Condition>
    <Condition Message="A later version of [ProductName] is already installed."> NOT NEWERVERSIONDETECTED </Condition>
    <Condition Message="[ProductName] requires Visual Studio 2005."> DEVENV_DIR_2005 </Condition>

    <Property Id="JAVALOC">
      <RegistrySearch Id='RegExistingJavaFolder' Type='raw'
        Root='HKLM' Key='Software\JavaSoft\Java Runtime Environment\1.4' Name='JavaHome' />
    </Property>

    <Condition Message='Setup could not find Java 1.4.'>
      <![CDATA[JAVALOC == ""]]>
    </Condition>

    <!-- Root directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFILES">
        <Directory Id='ComposeStar' Name='CmpseStr' LongName ='ComposeStar'>
          <Directory Id="INSTALLDIR" Name="Strlght" LongName="$(var.ProductShortName) $(var.ProductVersionText)">
            <Directory Id="Dir_SnippetsIndex" Name="CODESNIP" LongName="CodeSnippets">
              <Directory Id="Dir_Snippets" Name="Snippets" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DEVENV_DIR_2005" Name="VS2005">
        <Directory Id="Dir_ProjectTemplatesRoot" Name="PROJTMPL" LongName="ProjectTemplates" />
        <Directory Id="Dir_ItemTemplatesRoot" Name="ITEMTMPL" LongName="ItemTemplates" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="PMenu" LongName="Programs">
        <Directory Id="ProgramMenuDir" Name='StrLght1.0' LongName="$(var.ProductShortName) $(var.ProductVersionText)" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id='Complete' Title='$(var.ProductShortName) $(var.ProductVersionText)' Description='The complete package.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='CoreComponents' Title='Core Components' Description='The core components of the StarLight system.' Level='1'>
        <ComponentRef Id='CoreFiles' Primary ='yes' />
        <ComponentRef Id='Prolog'/>
        <ComponentRef Id='Db4o'/>
        <ComponentRef Id='Groove'/>
        <ComponentRef Id='Antlr'/>
        <ComponentRef Id='Registry'/>
      </Feature>
      <Feature Id='MSBuild' Title ='MSBuild support'  InstallDefault='local' Description ='MSBuild support is needed for the automatic compilation of cpsproj files.' Level ='1'>
        <ComponentGroupRef Id='CompGroup_MSBuild' />
      </Feature>      
      <Feature Id='VSIntegration' Title ='Visual Studio Integration' InstallDefault='local'  Description ='Visual Studio 2005 Integration.' Level ='1'>
        <ComponentGroupRef Id='CompGroup_Integration'/>
      </Feature>
      <Feature Id='Documentation' Title ='Documentation' Description ='StarLight specific and general composition filters documentation.' Level ='1'>

      </Feature>
      <Feature Id='Examples' Title ='StarLight Examples' Description ='Source code examples.' Level ='1'>
        
      </Feature>
    </Feature>

      
    <!-- Sequences -->
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
      <!-- Runs during both install and uninstall -->
      <Custom Action='CA_DevenvSetup2005' Before='InstallFinalize'>RUNDEVENV</Custom>
    </InstallExecuteSequence>
    
  <!-- Custom actions -->
    <CustomAction Id="CA_DevenvSetup2005" Property="DEVENV_EXE_2005" ExeCommand="/setup" Execute="commit" Return="asyncWait"></CustomAction>

    <InstallUISequence>
      <!-- Because we have a launch condition that uses the results of FindRelatedProducts, put it first. -->
      <LaunchConditions After="FindRelatedProducts" />
    </InstallUISequence>

    <!-- User interface -->
    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
