body, td, a
{
  font-family: Arial, Verdana,cursive;
  font-size: 9pt;
  background: #EEEEEE;
}

div.concern
{
  background: #DDDDDD;
  padding-top: 10px;
  margin-bottom: 50px;
  padding-right: 10px;
  border: 1px solid #C0C0C0
}

div
{
  padding-left: 20px;
}

div.red
{
  border: 1px solid #FF0000;
  background: #EEEEEE;
  margin-bottom: 20px;
  padding-left: 30px;
}

div.green
{
  border: 1px solid #00FF00;
  background: #EEEEEE;
  margin-bottom: 20px;
  padding-left: 30px;
}

div.filterorder
{
  border: 1px solid #C0C0C0;
  background: #EEEEEE;
  padding-left: 30px;
  margin-bottom: 20px;
}
