<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  	<extension point="org.eclipse.ui.preferencePages">
 		<page
 			id="composestar.java.preferencepage"
 			name="%COMPOSESTAR"
 			class="ComposestarEclipsePlugin.Java.UI.JavaComposestarPreferencePage">
 		</page>
 	</extension>

 	<extension point="org.eclipse.ui.propertyPages">
 		<page
         adaptable="true"
         class="ComposestarEclipsePlugin.Java.UI.JavaComposestarPropertyPage"
         id="composestar.java.propertypage"
         name="%COMPOSESTAR"
         objectClass="org.eclipse.core.resources.IProject">
      <filter
            name="nature"
            value="composestar.java.nature">
      </filter>
 		</page>
 	</extension>

 	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="composestar.java.c1">
        <menu
        	id="composestar.java.popupmenu"
       		label="%COMPOSESTAR"
       		path="additions">
       		<separator name="slot1"/>
         <separator
               name="slot2">
         </separator>
       	</menu>
       	<!--
        <action
              class="ComposestarEclipsePlugin.Core.Actions.VisAction"
              enablesFor="1"
              id="composestar.java.action.visualization"
              label="%COMPOSESTAR_POPUP_LABEL_VIS"
              menubarPath="composestar.java.popupmenu/slot1"/>
        -->
       	<action
            label="%COMPOSESTAR_POPUP_LABEL_RUN"
            menubarPath="composestar.java.popupmenu/slot1" 
            class="ComposestarEclipsePlugin.Java.Actions.JavaRunAction"
            enablesFor="1"
            id="composestar.java.action.run">
        </action>
        <action
              class="ComposestarEclipsePlugin.Java.Actions.JavaBuildAction"
              enablesFor="1"
              icon="logo-16x16.png"
              id="composestar.java.action.build"
              label="%COMPOSESTAR_POPUP_LABEL_BUILD"
              menubarPath="composestar.java.popupmenu/slot1">
        </action>
        <action
              class="ComposestarEclipsePlugin.Java.Actions.ToggleCStarJavaNature"
              enablesFor="1"
              id="composestar.java.action.remove_nature"
              label="%COMPOSESTAR_POPUP_LABEL_REMOVE_NATURE"
              menubarPath="composestar.java.popupmenu/slot2"
              tooltip="%COMPOSESTAR_POPUP_LABEL_REMOVE_NATURE_HINT">
        </action>
        <filter
              name="nature"
              value="composestar.java.nature">
        </filter>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="composestar.java.c2"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="composestar.java.popupmenu2"
               label="%COMPOSESTAR"
               path="additions">
            <separator
                  name="slot1">
            </separator>
         </menu>
         <action
               class="ComposestarEclipsePlugin.Java.Actions.ToggleCStarJavaNature"
               id="composestar.java.action.add_nature"
               label="%COMPOSESTAR_POPUP_LABEL_ADD_NATURE"
               menubarPath="composestar.java.popupmenu2/slot1"
               tooltip="%COMPOSESTAR_POPUP_LABEL_ADD_NATURE_HINT">
         </action>
         <visibility>
            <and>
               <not>
                  <objectState
                        name="nature"
                        value="composestar.java.nature">
                  </objectState>
               </not>
               <objectState
                     name="nature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards"> 
      <category 
        id="composestar.java.category.wizards" 
        name="%COMPOSESTAR"> 
      </category> 
      <wizard 
          id="composestar.java.wizards.project" 
          name="%COMPOSESTAR_JAVA_PROJECT" 
          category="composestar.java.category.wizards"
          icon="logo-16x16.png" 
          class="ComposestarEclipsePlugin.Java.UI.Wizards.ComposestarProjectWizardEx"
          project="true"> 
      </wizard> 
   	</extension> 
    
    <extension
        id="testbuild"
        point="org.eclipse.core.runtime.applications">
      	<application> 
         	<run class="ComposestarEclipsePlugin.Java.Actions.TestBuild"> 
         	</run> 
      	</application>
   	</extension>

	<extension
        id="testrun"
        point="org.eclipse.core.runtime.applications">
      	<application> 
         	<run class="ComposestarEclipsePlugin.Java.Actions.TestRun"> 
         	</run> 
      	</application>
   	</extension>
 <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
          class="ComposestarEclipsePlugin.Java.CStarClasspathContainerInitializer"
          id="composestar.java.classpath.runtime">
    </classpathContainerInitializer>
 </extension>
 <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="ComposestarEclipsePlugin.Java.UI.Wizards.CStarJavaRuntimeContainerWizard"
          id="composestar.java.classpath.runtime"
          name="%CSTAR_JAVA_RUNTIME">
    </classpathContainerPage>
 </extension>
 <extension
       id="composestar.java.nature"
       name="Compose*/Java Nature"
       point="org.eclipse.core.resources.natures">
    <runtime>
       <run
             class="ComposestarEclipsePlugin.Java.CStarJavaProject">
       </run>
    </runtime>
    <requires-nature
          id="org.eclipse.jdt.core.javanature">
    </requires-nature>
    <builder
          id="composestar.java.builder">
    </builder>
 </extension>
 <extension
       id="composestar.java.builder"
       name="Compose*/Java Builder"
       point="org.eclipse.core.resources.builders">
    <builder
          hasNature="true"
          isConfigurable="false">
       <run
             class="ComposestarEclipsePlugin.Java.ComposestarJavaBuilder">
       </run>
    </builder>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <scope
          class="ComposestarEclipsePlugin.Core.CStarProjectPreferences"
          name="project">
    </scope>
 </extension>
   	
</plugin>
