<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	--------------------------------------------------
							UI
	--------------------------------------------------
  	<extension point="org.eclipse.ui.preferencePages">
 		<page
 			id="composestar.java.preferencepage"
 			name="%COMPOSESTAR"
 			class="ComposestarEclipsePlugin.Java.UI.JavaComposestarPreferencePage">
 		</page>
 	</extension>

 	<extension point="org.eclipse.ui.propertyPages">
 		<page
         adaptable="true"
         class="ComposestarEclipsePlugin.Java.UI.JavaComposestarPropertyPage"
         id="composestar.java.propertypage"
         name="%COMPOSESTAR"
         objectClass="org.eclipse.core.resources.IProject">
 		</page>
 	</extension>

 	<extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="composestar.java.c1">
        <menu
        	id="composestar.java.popupmenu"
       		label="%COMPOSESTAR"
       		path="additions">
       		<separator name="slot1"/>
       	</menu>
        <action
              class="ComposestarEclipsePlugin.Core.Actions.VisAction"
              enablesFor="1"
              id="composestar.java.action.visualization"
              label="%COMPOSESTAR_POPUP_LABEL_VIS"
              menubarPath="composestar.java.popupmenu/slot1"/>
       	<action
            label="%COMPOSESTAR_POPUP_LABEL_RUN"
            menubarPath="composestar.java.popupmenu/slot1" 
            class="ComposestarEclipsePlugin.Java.Actions.JavaRunAction"
            enablesFor="1"
            id="composestar.java.action.run">
        </action>
        <action
              class="ComposestarEclipsePlugin.Java.Actions.JavaBuildAction"
              enablesFor="1"
              icon="logo-16x16.png"
              id="composestar.java.action.build"
              label="%COMPOSESTAR_POPUP_LABEL_BUILD"
              menubarPath="composestar.java.popupmenu/slot1">
        </action>
      </objectContribution>
    </extension>
    
    <extension point="org.eclipse.ui.newWizards"> 
      <category 
        id="composestar.java.category.wizards" 
        name="%COMPOSESTAR"> 
      </category> 
      <wizard 
          id="composestar.java.wizards.project" 
          name="%COMPOSESTAR_JAVA_PROJECT" 
          category="composestar.java.category.wizards"
          icon="logo-16x16.png" 
          class="ComposestarEclipsePlugin.Java.UI.Wizards.ComposestarProjectWizard"
          project="true"> 
      </wizard> 
   	</extension> 
    
    
    <!-- <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    	<launchConfigurationTypeImage
        	icon="icons/logo.gif"
        	configTypeID="composestar.java.launching.application"
        	id="composestar.java.launchConfigurationTypeImage">
    	</launchConfigurationTypeImage>
	</extension> -->

	-------------------------------------------------
				Launch Configuration
	------------------------------------------------- 
	
    
    
    -------------------------------------------------
					Headless Mode
	------------------------------------------------- 
    <extension
        id="testbuild"
        point="org.eclipse.core.runtime.applications">
      	<application> 
         	<run class="ComposestarEclipsePlugin.Java.Actions.TestBuild"> 
         	</run> 
      	</application>
   	</extension>

	<extension
        id="testrun"
        point="org.eclipse.core.runtime.applications">
      	<application> 
         	<run class="ComposestarEclipsePlugin.Java.Actions.TestRun"> 
         	</run> 
      	</application>
   	</extension>
 <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
          class="ComposestarEclipsePlugin.Java.CStarClasspathContainerInitializer"
          id="composestar.java.classpath.runtime">
    </classpathContainerInitializer>
 </extension>
 <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="ComposestarEclipsePlugin.Java.UI.Wizards.CStarJavaRuntimeContainerWizard"
          id="composestar.java.classpath.runtime"
          name="%CSTAR_JAVA_RUNTIME">
    </classpathContainerPage>
 </extension>
   	
</plugin>
